# Test Result

## Face compare in baidu api and face_recognition

### face_recognition:
* one vs one face compare ave time: 2.16s 
* one vs two face compare ave time: 3.19s
* one vs three face compare ave time: 3.55s

### baidu pai
* one vs one face compare ave time: 0.85s
* one vs two face compare ave time: 0.92s
* one vs three face compare ave time: 1.0s

